body{
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(138, 136, 136);
    position: relative;
    width:100%;
    padding-bottom: 1em;
    padding-top: 1em;
}

h1{
    font-size: 40px;
    margin-top: 0;
}

main{
    background: silver;
    width: 100%;
    position: absolute;
    height: 100%;
}

#favorites{
    float: left;
    width: 20%;
    height: 100%;
    font-size: 25px;
}

#results{
    position: absolute;
    left: calc(20% + 5px);
    width: calc(80% - 5px);
    font-size: 20px;
}

#results, #favorites, #seperator {
    background-color: silver;
    min-height: 100%;
}

#all-results{
    float: left;
    width: 50%;
}

#chosen-result{
    float: left;
    width: 50%;
}

#seperator{
    float: left;
    background-color: black;
    width: 5px;
}

#favorite-result-info{
    text-align: center;
    padding-bottom: 10px;
}

.headers{
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
  }
  
ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

#notify-form{
    background-color: red;
    width: 25%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 37.5%;
    padding: 5px 5px 8px 5px;
}

#name, #email, #price, #submit{
    width: calc(100% - 10px);
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hidden{
    display: none;
}

h4{
    font-size: 50px;
    margin: 0;
}

p{
    font-size: 30px;

}